* {
    margin: 0;
    font-family: 'Work Sans';
}

.btn-primary {
    border: none;
    background-color: #ffffff;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 50px;

}

/* Header and Banner */

.footer{
    margin-top: 250px;
}
.banner-item {
    padding: 216px 230px 100px 845px;
}

.banner-title {
    width: 525px;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    text-align: right;
    color: #ffffff;
    margin-bottom: 25px;
}

.banner-subtitle {
    width: 495px;
    height: 78px;
    left: 870px;
    top: 460px;
    font-style: normal;
    line-height: 26px;
    text-align: right;
    color: #ffffff;
}

.header {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: auto;
}

/* My Failures of Previous year Section */
.failures {
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 100px 320px;

}

.section-title {
    margin-bottom: 25px;
    color: #151414;
    width: 288px;
    height: 94px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;

}

.section-description {
    margin-bottom: 30px;
    color: #444343;
    width: 415px;
    height: 104px;



}

ol li {
    color: #444343;
    list-style-type: square
}

.image {
    width: 570px;
    height: 725px;
}
/* My Plans Section */

.my-plans{
    text-align: center;
    margin-bottom: 50px;
}
.plans-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 230px;
}
.plan-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.plan-name{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 10px;
}
.plan-des{
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;

}

/* Positive Mindset Section */

.positive-mindset{
    width: 80%;
    height: 250px;
    background: linear-gradient(90deg, rgb(0, 95, 172) 0%, rgba(0, 95, 172, 0) 100%);
    /* background-image: url('../images/watch.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 50px auto 50px;
}
.title{
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    padding: 60px 615px 25px 65px;
}
.btn-secondary{
    border: none;
    background-color: #ffffff;
    color: #005FAC;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
    margin-left: 65px;
}
/* Contact Section */

.contact{
    display: flex;
    /* gap: 150p;
    width: 1600px;
    height: 577px;
    left: 0;
    top: 2650px; */
    background: #151414;

}
.future{
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2780px;
    padding: 130px 880px 130px 230px;
}
.subscribe{
    width: 325px;
    height: 204px;
    left: 1046px;
    top: 2780px;
    padding: 130px 130px;
}

.future-title{
    font-weight: 700;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 15px;
}
.future-des{
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}
.future a{
    text-decoration: none;
}
.sub-title{
    font-weight: 600;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 15px;
}
input{
    border: none;
    margin-bottom: 15px;
    border: 0;
    width: 70%;
    padding: 18px 30px;
    border-radius: 5px;
}
.btn-last{
    border: none;
    background-color: rgb(36, 36, 234);
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    text-align: right;
    padding: 15px;
    border-radius: 5px;
    /* margin-left: 5px; */
}


